form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

form input, form button {
    padding: 0.5rem;
    font-size: 1rem;
}

form button {
    background: var(--primary-color);
    color: #fff;
    border: none;
    cursor: pointer;
}

form button:hover {
    opacity: var(--button-opacity);
}
